@{
    ViewBag.Title = "Index";
}

<h2>User Index</h2>
<div>
    @Html.ActionLink("User Profile", "Details")
    @Html.ActionLink("User Edit", "Edit")
    @Html.ActionLink("Product List", "UserProductList","Product")
    @Html.ActionLink("User Cart", "UserCart")
     @Html.ActionLink("Purchased Product History", "PurchasedProduct")
      @Html.ActionLink("Log Out", "LogOff")

</div>